name: Finelpy

on:
  push:
    branches:
      - main

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix: 
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies on macos
        if: matrix.os == 'macos-latest'
        run: |
          brew install boost


      - name: Install cibuildwheel
        run: python -m pip install --upgrade cibuildwheel twine

      - name: Build wheels
        run: |
          python -m cibuildwheel --output-dir wheelhouse
        env:

          CIBW_BUILD: cp38-* cp39-* cp310-* cp311-* cp312-* cp313-* cp314-*
          CIBW_SKIP: "*musllinux*"
          CIBW_BUILD_VERBOSITY: 1


      - name: Upload wheels as artifact
        uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}
          path: ./wheelhouse/*.whl

      - name: Upload wheels to PyPI
        run: python -m twine upload wheelhouse/*
        env: 
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}